<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dollar Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

</head>
<body>
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-12">
                <h1>Dollar Dashboard</h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <p class="text-right" id="last-update">Last Update: {{ scraper.last_update }}</p>
            </div>
        </div>
        <!-- Dollar at a Glance Table -->
        <div class="row mt-3">
            <div class="col-md-12">
                <h2 class="text-center">Dollar at a Glance</h2>
                <table id="dpag-table" class="table table-bordered text-center">
                    <thead>
                        <tr>
                            {% for col in scraper.p2e_dpag_col_names_map.values() %}
                                <th>{{ col }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody id="dpag-table-body">
                        {% for row in data_dpag %}
                            <tr>
                                {% for value in row %}
                                    {% if '+' in value %}
                                        <td style="background-color: lightgreen;">{{ value }}</td>
                                    {% elif ('-' in value) and (not (':' in value)) %}
                                        <td style="background-color: lightcoral;">{{ value }}</td>
                                    {% else %}
                                        <td>{{ value }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Dollar Performance Table -->
        <div class="row mt-3">
            <div class="col-md-12">
                <h2 class="text-center">Dollar Performance</h2>
                <table id="dp-table" class="table table-bordered text-center">
                    <thead>
                        <tr>
                            {% for col in scraper.p2e_dp_col_names_map.values() %}
                                <th>{{ col }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody id="dp-table-body">
                        {% for row in data_dp %}
                            <tr>
                                {% for value in row %}
                                    {% if '+' in value %}
                                        <td style="background-color: lightgreen;">{{ value }}</td>
                                    {% elif ('-' in value) and (not (':' in value) and not ('_' in value)) %}
                                        <td style="background-color: lightcoral;">{{ value }}</td>
                                    {% else %}
                                        <td>{{ value }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Dollar Price History Bar Chart -->
        <div class="col-md-12">
            <h2>Dollar Price History Bar Chart</h2>
            <canvas id="barChart" height="200"></canvas>
        </div>
        <!-- Dollar Price Archive Table -->
        <div class="row mt-3">
            <div class="col-md-12">
                <h2>Dollar Price History Table</h2>
                <table id="dpa-table" class="table table-bordered text-center">
                    <thead>
                        <tr>
                            {% for col in scraper.p2e_dpa_col_names_map.values() %}
                                <th>{{ col }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody id="dpa-table-body">
                        {% for row in data_dpa %}
                            <tr>
                                {% for value in row %}
                                    {% if '+' in value %}
                                        <td style="background-color: lightgreen;">{{ value }}</td>
                                    {% elif ('-' in value) and (not (':' in value)) %}
                                        <td style="background-color: lightcoral;">{{ value }}</td>
                                    {% else %}
                                        <td>{{ value }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Dollar Price History Bar Chart -->
        <div class="col-md-12">
            <h2>Dollar Price Today Line Chart</h2>
            <canvas id="todayLineChart" height="200"></canvas>
        </div>
        <!-- Dollar Today Table -->
        <div class="row mt-3">
            <div class="col-md-13">
                <h2>Dollar Today</h2>
                <table id="dt-table" class="table table-bordered text-center">
                    <thead>
                        <tr>
                            {% for col in scraper.p2e_dt_col_names_map.values() %}
                                <th>{{ col }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody id="dt-table-body">
                        {% for row in data_dt|reverse %}
                            <tr>
                                {% for value in row %}
                                    {% if '+' in value %}
                                        <td style="background-color: lightgreen;">{{ value }}</td>
                                    {% elif ('-' in value) and (not (':' in value)) %}
                                        <td style="background-color: lightcoral;">{{ value }}</td>
                                    {% else %}
                                        <td>{{ value }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

<script>
    // Assuming you have the necessary data for the bar chart
    var times = [];
    var price = [];

    // Extract data for the bar chart from data_dpa
    {% for row in scraper.data_dt %}
    times.push("{{ row[1] }}");
    price.push({{ row[0] | replace(',', '') }});
    {% endfor %}

    // Get the canvas element
    var ctx = document.getElementById('todayLineChart').getContext('2d');

    // Create the bar chart
    var lineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: times,
            datasets: [

                // Line dataset for connecting points
                {
                    type: 'line',
                    label: 'Connecting Line',
                    data: price,
                    borderColor: 'rgba(0, 0, 0, 1)',
                    borderWidth: 2,
                    fill: false,
                    yAxisID: 'y'
                }
            ]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: false
                }
            }
        }
    });
</script>

<script>
    // Assuming you have the necessary data for the bar chart
    var dates = [];
    var opening = [];
    var minimum = [];
    var maximum = [];
    var closing = [];

    // Extract data for the bar chart from data_dpa
    {% for row in scraper.data_dpa %}
    dates.push("{{ row[7] }}");
    opening.push({{ row[0] | replace(',', '') }});
    minimum.push({{ row[1] | replace(',', '') }});
    maximum.push({{ row[2] | replace(',', '') }});
    closing.push({{ row[3] | replace(',', '') }});
    {% endfor %}

    // Get the canvas element
    var ctx = document.getElementById('barChart').getContext('2d');

    // Create the bar chart
    var barChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: dates,
            datasets: [
                {
                    label: 'Opening',
                    data: opening,
                    backgroundColor: 'rgba(255, 99, 132, 0.8)', // Red
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                },
                {
                    label: 'Minimum',
                    data: minimum,
                    backgroundColor: 'rgba(54, 162, 235, 0.8)', // Blue
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                },
                {
                    label: 'Maximum',
                    data: maximum,
                    backgroundColor: 'rgba(255, 206, 86, 0.8)', // Yellow
                    borderColor: 'rgba(255, 206, 86, 1)',
                    borderWidth: 1
                },
                {
                    label: 'Closing',
                    data: closing,
                    backgroundColor: 'rgba(75, 192, 192, 0.8)', // Green
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                },
                // Line dataset for connecting points
                {
                    type: 'line',
                    label: 'Connecting Line',
                    data: closing,
                    borderColor: 'rgba(0, 0, 0, 1)',
                    borderWidth: 2,
                    fill: false,
                    yAxisID: 'y'
                }
            ]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: false
                }
            }
        }
    });
</script>

<script>
    $(document).ready( function () {
        $('#dpa-table').DataTable({
            "paging": true,
            "pagingType": "simple",  // You can customize the pagination style
            "pageLength": 10  // Set the number of rows per page
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('#dt-table').DataTable({
            "paging": true,
            "pagingType": "simple",
            "pageLength": 10,
            "order": [[1, "desc"]],
        });
    });
</script>

<script>
// Function to update Dollar at a Glance Table-
function updateDpagTable(data) {
    var tbody = $('#dpag-table-body');
    tbody.empty();  // Clear existing rows

    $.each(data, function (index, row) {
        var tr = $('<tr>');

        $.each(row, function (index, value) {
            var td = $('<td>');
            // Check if the value contains a '+' sign
            if (value.includes('+')) {
                td.css('background-color', 'lightgreen');
            } else if (value.includes('-') && !value.includes(':')) {
                td.css('background-color', 'lightcoral');
            }
            td.text(value);
            tr.append(td);
        });

        tbody.append(tr);
    });
}

function updateDpTable(data) {
    var tbody = $('#dp-table-body');
    tbody.empty();  // Clear existing rows

    $.each(data, function (index, row) {
        var tr = $('<tr>');

        $.each(row, function (index, value) {
            var td = $('<td>');
            // Check if the value contains a '+' sign
            if (value.includes('+')) {
                td.css('background-color', 'lightgreen');
            } else if (value.includes('-') && !value.includes(':') && !value.includes('_')) {
                td.css('background-color', 'lightcoral');
            }
            td.text(value);
            tr.append(td);
        });

        tbody.append(tr);
    });
}

function updateDtTable(data) {
    var tbody = $('#dt-table-body');
    tbody.empty();  // Clear existing rows

    $.each(data, function (index, row) {
        var tr = $('<tr>');

        $.each(row, function (index, value) {
            var td = $('<td>');
            // Check if the value contains a '+' sign
            if (value.includes('+')) {
                td.css('background-color', 'lightgreen');
            } else if (value.includes('-') && !value.includes(':')) {
                td.css('background-color', 'lightcoral');
            }
            td.text(value);
            tr.append(td);
        });

        tbody.append(tr);
    });
        // Get existing DataTable instance for dt-table
    var dpaTable = $('#dt-table').DataTable();

    // Set the pageLength to 10
    dpaTable.page.len(10).draw();
}

function updateDpaTable(data) {
    var tbody = $('#dpa-table-body');
    tbody.empty();  // Clear existing rows

    $.each(data, function (index, row) {
        var tr = $('<tr>');

        $.each(row, function (index, value) {
            var td = $('<td>');
            // Check if the value contains a '+' sign
            if (value.includes('+')) {
                td.css('background-color', 'lightgreen');
            } else if (value.includes('-') && !value.includes(':') && !value.includes('_')) {
                td.css('background-color', 'lightcoral');
            }
            td.text(value);
            tr.append(td);
        });

        tbody.append(tr);
    });
    // Get existing DataTable instance for dpa-table
    var dpaTable = $('#dpa-table').DataTable();

    // Set the pageLength to 10
    dpaTable.page.len(10).draw();
}


function updateBarChart(data) {
    var times = [];
    var price = [];

    $.each(data, function (index, row) {
        times.push(row[1]);
        price.push(parseFloat(row[0].replace(',', '')));
    });

    var ctx = document.getElementById('todayLineChart').getContext('2d');
    if (window.lineChart) {
        window.lineChart.data.labels = times;
        window.lineChart.data.datasets[0].data = price;
        window.lineChart.update();
    } else {
        window.lineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: times,
                datasets: [
                    {
                        type: 'line',
                        label: 'Connecting Line',
                        data: price,
                        borderColor: 'rgba(0, 0, 0, 1)',
                        borderWidth: 2,
                        fill: false,
                        yAxisID: 'y'
                    }
                ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: false
                    }
                }
            }
        });
    }
}


function updateLastUpdate(last_update) {
           var lastUpdateElement = $('#last-update');
            lastUpdateElement.text('Last Update: ' + last_update);
}

// Fetch updated data and refresh the page
function fetchDataAndRefresh() {
   $.getJSON('/updated', function (data) {
        try {
            // Update the content on the page with the new data
            updateLastUpdate(data.last_update);
            updateDpagTable(data.data_dpag);
            updateDpTable(data.data_dp);
            updateDtTable(data.data_dt);
            updateDpaTable(data.data_dpa);
            updateBarChart(data.data_dt);
        } catch (error) {
            console.error('Error updating data:', error);
        }
    });
}

        // Refresh the data every X minutes
        setInterval(fetchDataAndRefresh, 60000);
</script>
</body>
</html>
